.cart {
  z-index: 1;
  background-color: peachpuff;
  padding: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  height: 100%;
  overflow: scroll;
}

.cart-item-details {
  width: 70%;
}

.cart-item {
  margin: 15px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px dotted black;
  border-radius: 10px;
}

.cart-item-title {
  display: block;
}

.cart-item-price {
  font-weight: bolder;
  font-size: 1.5rem;
}

.cart-item-total {
  display: block;
  font-weight: bold;
}
