#ten{
    box-shadow:5px 5px 5px black;
    background-color:blueviolet;
    width: 200px;
    height: 50px;
    padding: 30px;
    color: dodgerblue;
}

#ten:hover{
    transform: translateX(-10px) translateY(-10px);
    box-shadow: 15px 15px 10px black;
    /* transition-duration: 200ms; */
}

#ten:active{
    transform: translateX(3px) translateY(3px);
    box-shadow: 2px 2px 2px black;
    transition-duration:0.2s;
}