.movie-details {
  padding: 4rem;

  margin: 0 auto;
  padding: 20px;
}

.poster {
  width: 300px;
  height: 500px;
  object-fit: cover;
  margin-right: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.title {
  font-size: 36px;
  margin-bottom: 10px;
  display: inline-flex;
}

.actors {
  font-size: 24px;
  margin-bottom: 10px;
}

.highP {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
}

.highP h1 {
  padding-bottom: 1rem;
}

.midP {
  padding: 2rem;
  margin: 2rem;
}

.midP h2{
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.midP h3 {
  font-size: 1.35rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.midP p {
  font-size: 1.15rem;
  margin-bottom: 1rem;
}

.details-loading {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
