.navbar {
  display: flex;
  padding: 2rem;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
}

.search-bar {
  width: 30vw;
  background-color: #3b3b4f;
  color: cyan;
  height: 30px;
  border-radius: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 18px;
}

.heading {
  color: #eee;
  font-size: 1.5rem;
}
